/*
 * Markdown PDF CSS
 */

p, ol, ul, pre {
	margin-top: 0; /*reset margin*/
}

h1 {
    padding-bottom: 0.4em;
	line-height: 0.7;
	border-bottom-width: 2px;
	border-bottom-style: groove;
    border-bottom-color: rgba(0, 0, 0, 0.7);
	font-weight: bold;
    text-align: center;
}

h2 {
	padding-bottom: 0.4em;
	line-height: 0.7;
	border-bottom-width: 3px;
	border-bottom-style: double;
    border-bottom-color: rgba(42, 42, 42, 0.4);
	font-weight: bold;
}

h3 {
	padding-bottom: 0.4em;
	line-height: 0.7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
    border-bottom-color: rgba(42, 42, 42, 0.2);
	font-weight: bold;
}

h4 {
	padding-bottom: 0.4em;
	line-height: 0.7;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
    border-bottom-color: rgba(42, 42, 42, 0.1);
	font-weight: bold;
}

h5 {
	padding-bottom: 0.4em;
	line-height: 0.7;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
    border-bottom-color: rgba(42, 42, 42, 0.1);
	font-weight: bold;
}

h6 {
	padding-bottom: 0.4em;
	line-height: 0.7;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
    border-bottom-color: rgba(42, 42, 42, 0.1);
	font-weight: bold;
}

body {
	font-family: "Hack", -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif, "Meiryo";
	padding: 0 12px;
}

img {
	max-width: 100%;
	max-height: 100%;
    border: 2px solid black;
    display: block;
    margin: 0px auto 0px;
}

table {
	border-collapse: collapse;
	margin-bottom: 0.7em;
}

th {
	text-align: left;
}

th,
td {
	padding: 5px 10px;
    border: 1px solid;
    border-left-style: dashed;
    border-right-style: dashed;
}

pre {
	background-color: #dddddd;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre:not(.hljs) {
	padding: 23px;
	line-height: 19px;
    text-align: center;
    font-weight: bold;
}

blockquote {
	background: rgba(70, 70, 70, 0.1);
	border-color: rgba(0, 142, 0, 0.4);
}

.emoji {
	height: 1.4em;
}

code {
	font-size: 14px;
	line-height: 19px;
}

/* for inline code */
:not(pre):not(.hljs) > code {
	color: #009700; /* Change the old color so it seems less like an error */
	font-size: inherit;
}

/* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
	page-break-after: always;
}